{% extends './basic.html' %}
{% load static %}

{% block title %}| Change Password{% endblock %}

 {% block head %}    {% endblock %}

	{% block style %}   {% endblock %}

  {% block body %}

<section id="slider" class="slider-element my-5 ">

  <div class="container-fluid center">
      <div class="slider-caption slider-caption-center">
            <div class="card mx-auto rounded-0 border-0" style="max-width: 400px; background-color:rgba(100, 100, 100, 0.5);  margin:15px;">
                    <form  method="post" action="/profile/change_password/">{% csrf_token %}
                   <i class="i-plain i-xlarge icon-user float-none mx-auto mb-4" data-animate="fadeInUp"></i>

                        <div class="col-12 form-group">
                      <input type="password" placeholder="  Current Password" id="password1" name="curr_pass"   required >
                        <span toggle="#password-field" class="fa fa-fw fa-eye field_icon toggle-password1" style="margin-left:220px;   display: flex; margin-top: -30px;color:#99073b"></span>
                          </div>

                        <div class="col-12 form-group">

                        <input type="password" placeholder="  New password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"  name="new_pass1" id="password12" required  >
                       <span toggle="#password-field" class="fa fa-fw fa-eye field_icon toggle-password2" style="margin-left:220px;   display: flex; margin-top: -30px;color:#99073b"></span>

                              </div>

                         <div class="col-12 form-group">

                        <input type="password" placeholder="  confirm password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" name="new_pass2" id="confirmpassword13" required  >
                        <span toggle="#password-field" class="fa fa-fw fa-eye field_icon toggle-password3"  style="margin-left:220px;   display: flex; margin-top: -30px;color:#99073b"></span>

                        </div>
                        <div class="col-12 form-group">

                          <button  class="btn" type="submit" onclick="Validate()">submit</button>
                          </div>
                  </form>
            </div>
      </div>
  <div>
</section>



    {% endblock %}

{% block js %}

<script>
  $(document).on('click', '.toggle-password1', function() {
  $(this).toggleClass("fa-eye fa-eye-slash");
  var input = $("#password1");
  input.attr('type') === 'password' ? input.attr('type','text') : input.attr('type','password')
  });


  $(document).on('click', '.toggle-password2', function() {

  $(this).toggleClass("fa-eye fa-eye-slash");

  var input = $("#password12");
  input.attr('type') === 'password' ? input.attr('type','text') : input.attr('type','password')
  });

  $(document).on('click', '.toggle-password3', function() {

  $(this).toggleClass("fa-eye fa-eye-slash");

  var input = $("#confirmpassword13");
  input.attr('type') === 'password' ? input.attr('type','text') : input.attr('type','password')
  });


  </script>

  <script>


  function Validate()
  {
  var password = document.getElementById("password12").value;
      var confirmPassword = document.getElementById("confirmpassword13").value;
      if (password != confirmPassword)
      {
          alert("Passwords do not match.");

      }

  var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
  var email=document.getElementById("email").value;


  if (reg.test(email) == false)
      {
          alert('Invalid Email Address');
      }
  }
  </script>

{% endblock %}





