{% extends './basic.html' %}
{% load static %}

{% block title %}| Forget password{% endblock %}

 {% block head %}    {% endblock %}

{% block style %}

<style>
    .jumbotron.text-center {
        height: 17em;
    }
    .form-control:focus {
    color: black;
    }
    input.form-control.col-md-6 {
        width: 50%;
        margin-right: 1em;
        display: inline;
    }
    .form-control textarea{
    font-size: 3rem;
    }

    div#notes {
        margin-top: 2%;
        width: 98%;
        margin-left: 1%;
    }

    @media (min-width: 991px) {
    .col-md-9.col-sm-12 {
        margin-left: 12%;
    }
    }
</style>

{% endblock %}

  {% block body %}

    <div class="container">

  <div class="row my-5">
    <div class="col-md-12">
      <div class="jumbotron text-center">
        <h2>Enter your registered email</h2>
        <form method="post" action="/login/forget_password/" role="form">{% csrf_token %}
          <div class="col-md-9 col-sm-12">
            <div class="form-group form-group-lg">

              <input type="text" class="form-control col-md-6 col-sm-6 col-sm-offset-2" placeholder="Enter Your Email " pattern="[a-z0-9._%+-]+@[a-z.-]+\.[a-z]{2,4}$" name="email" required>
              <input class="btn btn-primary btn-lg col-md-2 col-sm-2" type="submit" value="Submit">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
    {% endblock %}

{% block js %}
<script>
  function resend(){
  console.log('clicked')
    document.resendOtp.submit()
  }

</script>

{% endblock %}


