{% extends './basic.html' %}
{% load static %}

{% block title %}| Signup{% endblock %}

 {% block head %}  {% endblock %}

{% block style %}  {% endblock %}

  {% block body %}
  <section id="slider" class="slider-element min-vh-60  error404-wrap include-header" >
    <div class="slider-inner">
        <div class="vertical-middle">
            <div class="mx-auto center bottommargin" style="max-width: 700px">
            
                  <h2>Payment Failure</h2>
                  <p>  Transaction Failure due to server Error.Sorry for inconvience...</p>
                  <button  class="btn btn-sm " type="submit" style="color:white;" >Try Again</button>  
            </div>
           
           
        <div>
    </div>
  </section>
    {% endblock %}

{% block js %}

    
{% endblock %}








